@model BookDisplayModel

<div class="row-12 my-4 mx-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-34">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Choose Genre</option>
                @foreach(var genre in Model.Genres!)
                {
                    <option selected="@(genre.Id == Model.GenreId)" value="@genre.Id">@genre.GenreName</option>
                }
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Search by title</label>
            <div class="input-group">
                <input type="text" class="form-control" value="@Model.SearchTerm" id="seacrhTerm" name="searchTerm" placeholder="Search by title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-success">Search</button>
            <a href="/Home/Index" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div class="w-100 d-flex flex-wrap mt-4">

    @if (Model.Books!.Count() == 0)
    {
        <div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="alert alert-warning" role="alert">
                No books found!
            </div>
        </div>
    }

    @foreach (var item in Model.Books!)
    {
        <div class="card mx-2 mb-4" style="width: 16rem;">
            <img src="@item.Image" class="card-img-top" alt="..." style="object-fit: cover; max-height: 370px;">
            <div class="card-body">
                <h5 class="card-title">@item.BookName</h5>
                <p class="card-text">
                    Genre: @item.GenreName <br />
                    Author: @item.AuthorName <br />
                    Price: @item.Price €
                </p>
                <button type="button" onclick="add(@item.Id)" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        async function add(bookId) {
            var userName = document.getElementById('userName');

            if (userName == null) {
                window.location.href = "/Identity/Account/Login";
            }

            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                  
                if(response.status === 200) {
                    var result = await response.json();
                    console.log(result);
                    document.getElementById('cartCount').innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (error) {
                console.error('Error:', error);
            }
        }
    </script>
}