@model Cart?
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%; margin:auto">
    <h1 class="mt-4">Cart</h1>
    <br />
    @if (Model?.CartDetails == null || Model == null || Model?.CartDetails.Count <= 0)
    {
        <div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="alert alert-warning" role="alert">
                Cart is empty!
            </div>
        </div>
    }
    else
    {
        <table class="table table-striped">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model?.CartDetails!)
            {
                <tr style="vertical-align:middle">
                    <td><img src="@item.Book!.Image" style="width:100px; height:100px" /></td>
                    <td>@item.Book.BookName</td>
                    <td>@item.Book.Genre!.GenreName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Book.Price</td>
                    <td>@(item.Quantity * item.Book.Price) €</td>
                    <td>
                        <a class="btn btn-info" href="/Cart/AddItem?bookId=@item.BookId&&redirect=1">+</a>
                        <a class="btn btn-info" href="/Cart/RemoveItem?bookId=@item.BookId&&redirect=1">-</a>
                    </td>
                </tr>
            }
        </table>

        <div>
            <h3>
                Total Price: @Model.CartDetails.Select(cd => cd.Book!.Price * cd.Quantity).Sum().ToString("N2") €
                <a class="btn btn-primary evdo" href="/Cart/CheckOut">Checkout</a>
            </h3>
        </div>
        <style>
            .evdo {
                float: right;
            }
        </style>
    }
</div>

